.roadMapWrapper {
  flex-grow: 1;
  &__title {
    font-size: 2rem;
    margin-bottom: 1rem;
  }
  &__list {
    overflow-x: scroll;
    list-style: none;
    display: flex;
    flex-direction: column;
    max-height: 85vh;
    flex-wrap: wrap;
    align-content: flex-start;
    &__item {
      margin-right: 1rem;
      font-size: 1.3rem;
      max-width: 10rem;
      background-color: #fbf8e2;
      padding: 1rem 1rem;
    }
  }
}
