html {
  font-size: 10px;
}
* {
  margin: 0;
  padding: 0;
}
body {
  box-sizing: border-box;
}

.gameArea {
  max-width: 90%;
  padding: 6rem 6rem;
  display: flex;
  margin: 0 auto;
  &__formSideWrapper {
    margin-right: 4rem;
  }
}
